<div ui-tree ng-controller="TreePanelController" data-ng-init="search()" style="padding-top: 40px">
    <ol ui-tree-nodes="" ng-model="list">
        <li ng-repeat="item in list" ui-tree-node>
            <div ui-tree-handle>
                {{item.name}}
            </div>
            <ol ui-tree-nodes="" ng-model="item.items">
                <li ng-repeat="subItem in item.items" ui-tree-node>
                    <div ui-tree-handle>
                        {{subItem.name}}
                    </div>
                </li>
            </ol>
        </li>
    </ol>
</div>
